
*,
::after,
::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root{
  --send-translate-y:-76%;
  --send-translate-x:32%;
  --contact-me__text-bottom: 31%;
  --contact-me__font-size: 1.9em;
  --character__message-top: 24%;
  --character__message-right: 27%;
  --envelop-width:44em;
  --envelop-height:30em;
  --form-header-margin-top: 1.8em;
  --form-notes-margin-bottom: 0.8em;
  --form-width:21em;
  --form-padding: 0.4em;
  --form-size: 1em;
  --form-btn-margin-top: 0.8em;
  --form-btn-padding: 0.5em;
}

body {
  font-size: 16px;
  height: 100vh;
}

#contact-me__img {
  position: relative;
  height: 100%;
  margin: 0 auto;
  background: url(../images/workPlaceEnvelop.svg) 50% 0% / auto 140% no-repeat ;
 } 

 #contact-me__img.blur {
  transition: 1.5s;
  filter: blur(10px);
  background-image: url(../images/workPlaceWithoutEnvelop.svg);
 }

 #contact-me__img.remove-blur{
  transition: 1.5s;
  filter: blur(0);
  background-image: url(../images/workPlaceWithoutEnvelop.svg);
 }

#contact-me {
  position: relative;
  height: 100%;
 }

 .contact-me__text {
   position: absolute;
   left: 44%;
   top: 53%;
   width: 15%;
   height: 18%;
   background-size: 100% auto;
  cursor: pointer;
  border: 1px solid red;
 }

 #pop-up {
  background: url(../images/envelop.png) no-repeat;
  background-size: contain;
  width: 10px;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  flex-direction: column;
  position: fixed;
  top: 47%;
  left: 51%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1.2s;
  font-size: 1.1em;
  color: #1c1048;
}

#contact-me #pop-up.show {
  opacity: 1;
  width: var(--envelop-width);
  height: var(--envelop-height);
}

#pop-up.animation {
  animation: envelop 2s forwards;
}

@keyframes envelop {
 from {
    transform: rotate(0deg) translate(-114%, -45%) scale(0.9); 
  }

  to {
    transform:  rotate(359deg) translate(var(--send-translate-x), var(--send-translate-y)) scale(0.1);
    opacity: 0.8
  }
}

#contact-me__form{
  transition: 5s;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  flex-direction: column;
  display: none;
}

#contact-me__form.show {
 display: flex;
}

.contact-me__form__header {
  text-align: center;
  text-transform: uppercase;
  margin-top: var(--form-header-margin-top);
  font-size: 1.5em;
}

.contact-me__form__notes {
  font-style: italic;
  margin-bottom: var(--form-notes-margin-bottom);
  font-size: 0.8em;
}

.contact-me__form__user-info {
  width: var(--form-width);
}
input {
  width: 100%;
  margin-bottom: 0.8em;
}

textarea, input {
  padding: var(--form-padding);
  font-size: var(--form-size);
}

textarea {
  width: 100%;
  min-height: 8em;
}

#send-button {
  margin-top: var(--form-btn-margin-top);
  border-radius: 0.6em;
  padding: var(--form-btn-padding);
  border: none;
  background: linear-gradient(to right, #27c6e2 0%, #4079cd 100%);
  box-shadow: 1px 7px 1em #1d5a7e;
  color: white;
}


#send-button:hover {
  color: white;
  background: linear-gradient(to right, #cf7474 0%, #4a44a4 100%);
}

#send-button:active {
  transform: scale(0.97);
}

.post-box {
  position: absolute;
  top: 23%;
  right: 12%;
  /* width: 32%;
  height: 32%; */
  display: none;
  background: url(../images/post-home-6.jpeg) no-repeat;
  background-size: cover;
  animation: postBox 2.5s ease-in forwards;
  transform: rotate(9deg) skewY(32deg);
  opacity: 0.4;
 }

 @keyframes postBox {
  from {
    width: 2%;
    height: 2%;
    transform: rotate(9deg) skewY(32deg);
    opacity: 0.1;
  }

  to {
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  transform: rotate(0deg);
  opacity: 1;
  }
 }

 .post-box.remove-post-box {
  animation: postBoxNone 2.5s ease-in forwards;
 } 

 @keyframes postBoxNone {
 from {
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  transform: rotate(0deg);
  opacity: 1;
}
    
to {
  top: 28%;
  right: 18%;
  width: 0em;
  height: 0em;
  transform:  rotate(9deg) skewY(32deg);
  opacity: 0.1;
 }
 }
/*     rotate(17deg) skewY(20deg);*/
#post-box__delivered{
  display: none;
  width: 4em;
  height: 3em;
  position: absolute;
  top: -50%;
  right: 20%;
  transform: rotate(32deg);
  animation: envelopDelivered 3s linear forwards;
}

@keyframes envelopDelivered {
  
  0% {
    top: 0%;
    right: 15%;
    }
  
    40% {
      top: 5%;
      right: 18%;
    }
  
    70%{
      top: 18%;
      right: 13%;
    }
  
    100%{
      top: 32%;
      right: 22%;
    }

  }

.character{
  display: none;
  position: fixed;
  left: -50%;
  bottom: 10%; 
  z-index: 1;
  animation: walk 5s forwards;
}

@keyframes walk {
  from {
    left: 0%;
  }
  to {
    left: 70%;
  }
}

#character__moving{
  width: 17em;
  height: 31em; 
  background: url(../images/walkingLeft-2.png) 0% / cover no-repeat;
  animation: characterMoving 1s steps(9) linear forwards;
}

@keyframes characterMoving {
  from {
    background-position: 0%;
  }
  
  to {
    background-position: 113%;
  }
}

#character__message {
  display: none;
  background:url(../images/message.webp) no-repeat;
  background-size: cover;
  position: absolute;
  top: var(--character__message-top);
  right: var(--character__message-right);
  width: 13em;
  height: 13em;
}

.character__message__text{
  position: absolute;
  top: 12%;
  left: -1%;
  text-align: center;
  padding: 20px;
  color: white;
  line-height: 1.5;
  letter-spacing: 1px;
}

.each-letter {
  opacity: 0;
  transition: all 0.4s easy;
}

.each-letter.fade {
opacity: 1;
}
