#mountains {
  height: 83%;
  background: url(../images/about-me/mountains.png) center/cover;
}

#city-panorama {
  height: 61%;
  background: url(../images/about-me/city-panorama.png) repeat-x;
  background-size: 48em;
  bottom: 12%;
}

#front-city {
  height: 41%;
  background: url(../images/about-me/front-city.png) repeat-x;
  background-size: 48em;
  bottom: 10%;
}

#park {
  height: 55%;
  background: url(../images/about-me/park.png) repeat-x;
  background-size: 41em;
  bottom: 0%;
}

#grass {
  height: 8%;
  background: url(../images/about-me/grass.png) repeat-x;
  background-size: 37em;
  bottom: 0%;
}

#about-billboards {
  height: 70%;
  bottom: 10%;
}

#about-billboard-1 {
  height: 100%;
  background: url(../images/about-me/billboard-1/billboard.png) no-repeat;
  background-size: 27em;
}

#about-billboard-1-arrow {
  position: absolute;
  height: 52px;
  bottom: 132px;
  left: 116px;
}

#about-road {
  height: 30%;
  bottom: 2%;
}

#about-road-cones {
  position: absolute;
  height: 75px;
  bottom: 0px;
  left: 240px;
}

#about-road-closed {
  position: absolute;
  height: 150px;
  bottom: 15px;
  left: 700px;
}