/* ----------------------------------------------------------------------------
 * Contains global styles.
 * ----------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

.flip-image {
    transform: rotateY(180deg);
}

.scene-container {
    height: 500px;
    width: 800px;
    position: relative;
}

#skater {
    width: 150px;
    left: 300px;
    bottom: 385px;
    position: absolute;
}