/* ----------------------------------------------------------------------------
 * Contains global styles.
 * ----------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

.flip-image {
    transform: rotateY(180deg);
}

#skater {
    width: 155px;
    position: absolute;
    bottom: 3%;
    left: 45%
}