*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1px solid red;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.scene-container {
    width: 100%;
    height: 100%;
    max-height: 35em;
    max-width: 47em;
    position: relative;
    border: 1px solid red;
}

@media screen and (max-width: 400px) {
    .scene-container {
        min-width: 21em;
    }
  }

#layer-0 {
    height: 100%;
    width: 100%;
    background: url(../images/projects/scene/layer-0.png) center/cover;
}

#layer-1 {
    width: 100%;
    height: 25%;
    background: url(../images/projects/scene/layer-1.png) repeat-x;
    background-size: 48em;
    position: absolute;
    bottom: 2%;
}

#layer-2 {
    width: 100%;
    height: 35%;
    background: url(../images/projects/scene/layer-2.png) repeat-x;
    background-size: 48em;
    position: absolute;
    bottom: 2%;
}

#layer-3 {
    width: 100%;
    height: 35%;
    background: url(../images/projects/scene/layer-3.png) repeat-x;
    background-size: 45em;
    position: absolute;
    bottom: 8%;
}

#layer-4 {
    width: 100%;
    height: 22%;
    background: url(../images/projects/scene/layer-4.png) repeat-x;
    background-size: 46em;
    position: absolute;
    bottom: 3%;
}

#layer-5 {
    width: 100%;
    height: 50%;
    background: url(../images/projects/scene/layer-5.png) repeat-x;
    background-size: 40em;
    position: absolute;
    bottom: 5%;
}

#layer-6 {
    width: 100%;
    height: 39%;
    background: url(../images/projects/scene/layer-6.png) repeat-x;
    background-size: 46em;
    position: absolute;
    bottom: 0%;
}

#layer-8 {
    height: 5%;
    width: 100%;
    background: url(../images/projects/scene/layer-8.png) repeat-x;
    background-size: 20em;
    position: absolute;
    bottom: 0%;
}

#layer-9 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/projects/scene/layer-9.png);
}

.flip-image {
    transform: rotateY(180deg);
}

#skater {
    width: 10em;
    height: 9em;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0%);
}


@media (orientation: landscape) {
    #layer-1,#layer-2,#layer3,#layer-4,#layer-5,#layer-6,
    #layer-7,#layer-8 {
        background-size: contain;
    }
}