#layer-0 {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(../images/projects/scene/layer-0.png);
    background-size: cover;
    background-position: center;
}

#layer-1 {
    height: 162px;
    width: 100%;
    background-image: url(../images/projects/scene/layer-1.png);
    position: absolute;
    bottom: 2%;
    background-repeat: repeat-x;
    background-size: contain;
}

#layer-2 {
    height: 100px;
    width: 100%;
    background-image: url(../images/projects/scene/layer-2.png);
    position: absolute;
    bottom: 21%;
    background-repeat: repeat-x;
    background-size: contain;
}

#layer-3 {
    height: 145px;
    width: 100%;
    background-image: url(../images/projects/scene/layer-3.png);
    position: absolute;
    bottom: 21%;
    background-repeat: repeat-x;
    background-size: contain;
}

#layer-4 {
    height: 145px;
    width: 100%;
    background-image: url(../images/projects/scene/layer-4.png);
    position: absolute;
    bottom: 3%;
    background-repeat: repeat-x;
    background-size: contain;
}

#layer-5 {
    height: 206px;
    width: 100%;
    background-image: url(../images/projects/scene/layer-5.png);
    position: absolute;
    bottom: 14%;
    background-repeat: repeat-x;
    background-size: contain;
}

#layer-6 {
    height: 240px;
    width: 100%;
    background-image: url(../images/projects/scene/layer-6.png);
    position: absolute;
    bottom: 0%;
    background-repeat: repeat-x;
    background-size: contain;
}

#layer-8 {
    height: 50px;
    width: 100%;
    background-image: url(../images/projects/scene/layer-8.png);
    position: absolute;
    bottom: 0%;
    background-repeat: repeat-x;
    background-size: contain;
}

#layer-9 {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(../images/projects/scene/layer-9.png);
    background-size: cover;
    background-position: center;
}