#layer-0 {
  height: 100%;
  background: url(../images/projects/scene/layer-0.png) center/cover;
}

#layer-1 {
  height: 25%;
  background: url(../images/projects/scene/layer-1.png) repeat-x;
  background-size: 48em;
  bottom: 2%;
}

#layer-2 {
  height: 35%;
  background: url(../images/projects/scene/layer-2.png) repeat-x;
  background-size: 48em;
  bottom: 2%;
}

#layer-3 {
  height: 35%;
  background: url(../images/projects/scene/layer-3.png) repeat-x;
  background-size: 45em;
  bottom: 8%;
}

#layer-4 {
  height: 20%;
  background: url(../images/projects/scene/layer-4.png) repeat-x;
  background-size: 46em;
  bottom: 3%;
}

#layer-5 {
  height: 50%;
  background: url(../images/projects/scene/layer-5.png) repeat-x;
  background-size: 40em;
  bottom: 5%;
}

#layer-6 {
  height: 37%;
  background: url(../images/projects/scene/layer-6.png) repeat-x;
  background-size: 46em;
  bottom: 0%;
}

#layer-8 {
  height: 5%;
  background: url(../images/projects/scene/layer-8.png) repeat-x;
  background-size: 20em;
  bottom: 0%;
}

#layer-9 {
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/projects/scene/layer-9.png);
}
